html,
body {
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  color: silver;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 18px 30px 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

h1 {
  padding: 0 30px 0;
  font-size: 20px;
  letter-spacing: 5px;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: white;
}

.goapp-app-info {
  background-color: black;
  color: white;
}

.focus {
  color: white;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 6px;
  height: 10px;
}

/* -----------------------------------------------------------------------------
// Menu
------------------------------------------------------------------------------*/
.menu {
  height: 100%;
  text-shadow: 1px 1px black;
  max-height: calc(100% - 24px);
  padding: 0 0 24px 0;
  overflow: hidden;
}

.channels {
  margin: 42px 0;
  height: calc(100% - 57px - 96px - 42px - 42px);
  overflow-y: auto;
  overflow-x: hidden;
}

.channels section {
  max-height: 100%;
}

.menu h1 {
  font-size: 32px;
  letter-spacing: 7px;
  padding-top: 18px;
}

.menu .item {
  display: block;
  padding: 12px 30px 0;
}

.menu .item {
  transition: 0.2s all;
}

.menu .item:hover {
  transform: scale(1.15);
}

.menu .item:active {
  transform: scale(0.98);
}

.menu .item:first-child {
  padding: 0 30px;
}

.menu .item .icon {
  width: 24px;
  height: 24px;
  margin-right: 18px;
}

.menu .item {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.overlay-menu {
  height: 100%;
  background: linear-gradient(black, rgba(0, 0, 0, 0.75), black);
}

/* -----------------------------------------------------------------------------
// Player
------------------------------------------------------------------------------*/
.player {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.player .video {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.player .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, transparent, transparent, black);
}

.player iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  border: none;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .player iframe {
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  .player iframe {
    width: 177.78vh;
  }
}

.player footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.player .controls {
  margin: auto;
}

.player .controls .button {
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 50%;
  color: currentColor;
  width: 54px;
  height: 54px;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  margin: 24px;
}

.player .controls .button:hover {
  color: white;
  transform: scale(1.3);
}

.player .controls .button:active {
  color: white;
  transform: scale(0.98);
}

.blur {
  filter: blur(1.5rem);
}

.hide {
  display: none;
}

/* -----------------------------------------------------------------------------
// Detail
------------------------------------------------------------------------------*/
.detail {
  max-width: 75%;
  position: absolute;
  bottom: 15%;
  right: 0;
  text-shadow: 1px 1px black;
}

.detail .channel {
  text-align: right;
}

.detail .social {
  margin: 6px 24px 0 auto;
}

.detail .button {
  display: block;
  padding: 6px;
  margin-left: 6px;
  transition: 0.2s all;
}

.detail .button:hover {
  color: white;
  transform: scale(1.6);
}

.detail .button:active {
  color: white;
  transform: scale(0.98);
}
