input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: silver;
  border-radius: 12px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: silver;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
  background: white;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: white;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: silver;
  border-radius: 12px;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: silver;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"]:hover::-moz-range-track {
  background: white;
}

input[type="range"]:hover::-moz-range-thumb {
  background: white;
}
